.vs/*
.vscode/*
.circleci/*
src/*
build/*
/GitVersion.yml
/tsconfig.json
/jest.config.js
/package-lock.json
/esbuild.config.js
/tsconfig.json
__tests__/*
node_modules/*
scripts/*
.history/
reports/*
.gitignore
gitversion.txt